body,
html {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100%;
  position: relative;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

.grid__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: [nav-start] 90px [nav-end] 1fr;
      grid-template-rows: [nav-start] 90px [nav-end] 1fr;
  -ms-grid-columns: [sidebar-start] 92px [sidebar-end full-start] minmax(6rem, 1fr) [center-start] (minmax(min-content, 14rem) [col-end])[4] [center-end] minmax(6rem, 1fr) [full-end info] 300px [info-end];
      grid-template-columns: [sidebar-start] 92px [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(4, minmax(-webkit-min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end info] 300px [info-end];
      grid-template-columns: [sidebar-start] 92px [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(4, minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end info] 300px [info-end];
}

.side__bar {
  grid-row: 1/-1;
  grid-column: sidebar-start/sidebar-end;
  background: #f7f8fc;
  -webkit-box-shadow: 0 2px 16px 0 rgba(136, 145, 169, 0.15);
          box-shadow: 0 2px 16px 0 rgba(136, 145, 169, 0.15);
  z-index: 100;
}

.side__bar-logo {
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.side__bar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 65px;
}

.side__bar ul li {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 25px 0;
  width: 100%;
}

.side__bar ul li:hover:after {
  content: "";
  height: 30%;
  width: 2px;
  position: absolute;
  right: 0;
  top: 23px;
  background: #646dbe;
  -webkit-box-shadow: 0 2px 13px 0 rgba(40, 84, 246, 0.62);
          box-shadow: 0 2px 13px 0 rgba(40, 84, 246, 0.62);
}

.nav__bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  grid-row: nav-start/nav-end;
  grid-column: full-start/full-end;
  opacity: 0.8;
  background: #d3d5ea;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 35px;
}

.nav__bar-dash {
  font-family: Helvetica;
  font-size: 18px;
  color: #2f3667;
  letter-spacing: 0.32px;
  font-weight: 600;
}

.nav__bar-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 25px;
}

.nav__bar-right div {
  opacity: 0.85;
  font-family: Helvetica;
  font-size: 13px;
  color: #525880;
  letter-spacing: 0.23px;
  line-height: 22.8px;
  margin: 0 15px;
}

.nav__bar-right .weather {
  font-family: Helvetica;
  font-size: 13px;
  color: #525880;
  letter-spacing: 0.23px;
  line-height: 22.8px;
  font-weight: bold;
}

.main {
  grid-column: full-start/full-end;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (min-content)[3] 285px;
      grid-template-rows: repeat(3, -webkit-min-content) 285px;
      grid-template-rows: repeat(3, min-content) 285px;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 25px;
  padding: 30px;
  background: #ebecf8;
}

.info {
  grid-row: 1/-1;
  grid-column: info/info-end;
  background-image: linear-gradient(120deg, #252649 0%, #080a1a 69%);
}

.info-top-top {
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  padding: 30px 30px 10px 30px;
}

.info-top h1 {
  font-family: Helvetica;
  font-size: 24px;
  color: #c8cefc;
  letter-spacing: 0.43px;
}

.info-top p {
  opacity: 0.36;
  font-family: Helvetica;
  font-size: 18px;
  color: #c8cefc;
  letter-spacing: 0.32px;
}

.total {
  opacity: 0.45;
  font-family: Helvetica;
  font-size: 13px;
  color: #c8cefc;
  letter-spacing: 1.2px;
}

.miles {
  font-family: Helvetica;
  font-size: 24px;
  color: #c8cefc;
  letter-spacing: 0.43px;
  padding-top: 15px;
}

.stat {
  padding: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.stat-left {
  opacity: 0.45;
  font-family: Helvetica;
  font-size: 13px;
  color: #c8cefc;
  letter-spacing: 1.2px;
}

.stat-right {
  opacity: 0.75;
  font-family: Helvetica;
  font-size: 14px;
  color: #bdc4f7;
  letter-spacing: 0.25px;
}

.location-title {
  margin-bottom: 20px;
  font-family: Helvetica;
  font-size: 18px;
  color: #c8cefc;
  letter-spacing: 0.32px;
}

.location-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.near {
  opacity: 0.45;
  font-family: Helvetica;
  font-size: 13px;
  color: #c8cefc;
  letter-spacing: 0;
}

.change {
  font-family: Helvetica;
  font-size: 13px;
  color: #e67171;
  letter-spacing: 0.23px;
  line-height: 22.8px;
}

.alert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  padding: 25px 25px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  background: #f98686;
  -webkit-box-shadow: 0 2px 42px 0 rgba(167, 168, 199, 0.02);
          box-shadow: 0 2px 42px 0 rgba(167, 168, 199, 0.02);
  border-radius: 2px;
}

.alert-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  font-family: Helvetica;
  font-size: 15px;
  color: #fff;
  letter-spacing: 0.27px;
  line-height: 26px;
}

.alert-head img {
  margin-right: 8px;
}

.alert-btn {
  background: #fff;
  border-radius: 2px;
  font-family: Helvetica;
  font-size: 14px;
  color: #2f3667;
  letter-spacing: 0.25px;
  text-align: center;
  line-height: 26px;
  width: 82px;
  height: 36px;
  border: none;
}

.alert-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: Helvetica;
  font-size: 14px;
  color: #fff;
  letter-spacing: 0.25px;
  line-height: 24px;
}

.chart {
  padding: 25px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
  background: #f8f8fb;
}

.chart-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: Helvetica;
  font-size: 15px;
  color: #2f3667;
  letter-spacing: 0.27px;
  line-height: 26px;
  margin-bottom: 25px;
}

.chart-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.chart-date-week {
  margin-right: 20px;
  font-weight: bold;
}

.tesla {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 70px 40px;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
  grid-column: 3/-1;
  background: #f8f8fb;
  -webkit-box-shadow: 0 2px 31px 0 rgba(167, 168, 199, 0.02);
          box-shadow: 0 2px 31px 0 rgba(167, 168, 199, 0.02);
  border-radius: 2px;
}

.energy,
.fluid,
.range,
.tire {
  grid-row: 4/-1;
  background: #f8f8fb;
  -webkit-box-shadow: 0 2px 31px 0 rgba(167, 168, 199, 0.02);
          box-shadow: 0 2px 31px 0 rgba(167, 168, 199, 0.02);
  border-radius: 2px;
  padding: 10px;
}

.energy {
  text-align: center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  position: relative;
}

.energy img,
.energy img,
.energy img,
.energy img {
  margin-top: 25px;
}

.player-container,
.player-container1,
.player-container2,
.player-container3 {
  position: relative;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.player-container svg,
.player-container1 svg,
.player-container2 svg,
.player-container3 svg {
  position: absolute;
  height: 89%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-90deg);
          transform: translate(-50%, -50%) rotate(-90deg);
  pointer-events: none;
}

.player-container svg circle {
  -webkit-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
}

.moving circle {
  -webkit-transition: all 1.2s ease-in-out;
  transition: all 1.2s ease-in-out;
}

.time-display {
  color: #fff;
  position: absolute;
  bottom: 29%;
  padding-left: 7px;
  font-family: Helvetica;
  font-size: 16px;
  color: #646dbe;
  letter-spacing: 0.29px;
  line-height: 26px;
}

.fluid {
  text-align: center;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.range {
  text-align: center;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}

.tire {
  text-align: center;
  grid-column: 4/-1;
}

.energy img,
.fluid img,
.range img,
.tire img {
  margin-top: 25px;
}

.asd {
  font-family: Helvetica;
  font-size: 15px;
  color: #2f3667;
  letter-spacing: 0.27px;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */